$color_1: azure;
$color_2: grey;
$color_3: white;
$background_color_1: black;

.main-pic {
  margin-top: 70px;
  height: 90vh;
  background-image: url('../images/main.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

nav {
  background-color: $background_color_1;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 3;
}

.links {
  float: right;
  margin: 15px 10px;
  padding: 10px;
  font-size: 20px;
  color: $color_1;
  text-decoration: none;

  &:hover {
    color: $color_2;
  }
}

.main-header {
  margin: 15px;
  padding: 10px;
  float: left;
  color: $color_1;
  text-decoration: none;
  font-size: 25px;

  &:hover {
    color: $color_2;
  }
}

.item-list {
  margin-top: 79px;
  margin-left: 20%;
}

.book {
  margin: 20px;
  color: $color_3;
}

.picture-book {
  height: 90vh;
  background-image: url('../images/white.jpg');
  background-size: cover;
}

.house {
  margin: 10px;
}

.house-name {
  color: $color_3;

  &:hover {
    color: $color_2;
  }
}

.picture-house {
  height: 90vh;
  background-image: url('../images/map.jpeg');
  background-repeat: no-repeat;
  background-size: cover;
}

.house-info {
  margin: 10px;
  color: $color_3;
  list-style-type: circle;
}

.house-info-picture {
  height: 90vh;
  background-image: url('../images/wolf.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}
